.author__div {
  text-align: center;
  padding: 1rem;
}
.author__div div {
  margin-bottom: 1rem;
}
.author__introduction {
  font-size: 0.8rem;
  color: #999;
}
.author__account {
  background-color: #999;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.author__account:hover {
  cursor: pointer;
}

.author__avatar {
  border-radius: 50%;
}
